
body {
    padding-top:80px;
    
}

/* ===========================
--- TRAILER STYLES
============================ */

#trailer .modal-dialog {
    margin-top: 175px;
    width: 640px;
    height: 480px;
}
#trailer .hanging-close {
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 9001;
}
#trailer-video {
    width: 100%;
    height: 100%;
}
.scale-media {
    padding-bottom: 56.25%;
    position: relative;
}
.scale-media iframe {
    border: none;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
}


/* ===========================
--- MOVIE-TILE STYLES
============================ */

.movie-tile {
    margin-bottom: 20px;
    padding-top: 20px;
}
.movie-tile img {
    text-align: center;
    width: 180px;
    height: 280px;
    border: 2px solid #fff;
    
}
.movie-tile:hover {
            background-color: #EEE;
            cursor: pointer;
}
.movie-tile .year {
    color: #000;    
    margin: 1px auto;
    padding: 0;
}
.movie-tile h2 {
    font-size: 1.875em;
    color: #136cb2;
    font-family: Verdana, sans-serif;
}
.movie-story {
    font-size: 1.875em;
    color: #136cb2;
    font-family: Verdana, sans-serif;
}

/* ===========================
--- Footer
============================ */

footer {
    background-color: #104474;
}

footer {
    text-align: center;
    padding: 50px 0 30px ;
    
}

footer p {
    color: #f8f8f8;
    font-size: 14px;
}

footer a.totop {
    color: #fff;
    margin-bottom: 10px;
}
footer a.totop:focus {
    outline: 0;
}

/* ===========================
--- Social Icons
============================ */

.social-icons {padding-top: 10px;}
.social-icons li {
    list-style: none; 
    float: left;
    margin-right: 6px;
}
/* Small Monitor */
@media (min-width: 980px) and (max-width: 1199px) {
    .social-icons li:last-child {display:none;}
}
a.social-icon { 
    background: url(../img/social-icons.png);
    display: block; 
    width: 46px; 
    height: 46px;
}
a.facebook {background-position: 0px 0px;}
a.facebook:hover {background-position: 0px -47px;}
a.twitter{background-position: -52px 0px;}
a.twitter:hover {background-position: -52px -47px;}
a.dribble{background-position: -104px 0px;}
a.dribble:hover {background-position: -104px -47px;}
a.rss{background-position: -156px 0px;}
a.rss:hover {background-position: -156px -47px;}
a.forrst{background-position: -208px 0px;}
a.forrst:hover {background-position: -208px -47px;}
